.logo {
  float: left;
  font-size: 30px;
  background: #f5f5f5;
  width: 60px;
  text-align: center;
  border-right: 1px solid #e9e5e5;
  box-shadow: 1px -1px 4px -1px #00000063;
}
.user-d {
  float: right;
  font-size: 30px;
  background: #f5f5f5;
  width: 60px;
  text-align: center;
  border-left: 1px solid #e9e5e5;
  box-shadow: -2px 1px 4px -1px #bdbfc1;
}

header {
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5) !important;
}

header ul#dashboardTopNav {
  background: none;
  display: flex;
}

header ul li {
  padding: 10px;
  list-style: none;
}

header ul li a {
  display: block;
}

header ul li a i {
  text-align: center;
}
